doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='img/logo/logo.png', rel='icon')
    title Ideas - User account
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='css/ruang-admin.min.css', rel='stylesheet')
  body#page-top
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.sidebar.sidebar-light.accordion
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/dashboard')
          .sidebar-brand-icon
            img(src='img/logo/logo2.png')
          .sidebar-brand-text.mx-3 TMS
        hr.sidebar-divider.my-0
        li.nav-item.active
          a.nav-link(href='/dashboard')
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        hr.sidebar-divider
        .sidebar-heading
          | Space
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseBootstrap', aria-expanded='true', aria-controls='collapseBootstrap')
            i.far.fa-fw.fa-window-maximize
            span Tasks
          #collapseBootstrap.collapse(aria-labelledby='headingBootstrap', data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Task Management
              a.collapse-item(href='/action_items') Action Items
              a.collapse-item(href='/ideas') Ideas
              a.collapse-item(href='/backlog') Backlog
        li.nav-item
          a.nav-link.collapsed(href='/notifications')
            i.fas.fa-bell.fa-fw
            span Notifications
            
        
       
      #content-wrapper.d-flex.flex-column
        #content
          // TopBar
          nav.navbar.navbar-expand.navbar-light.bg-navbar.topbar.mb-4.static-top
            button#sidebarToggleTop.btn.btn-link.rounded-circle.mr-3
              i.fa.fa-bars
            ul.navbar-nav.ml-auto
              
              
              li.nav-item.dropdown.no-arrow
                a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.img-profile.rounded-circle(src='img/boy.png', style='max-width: 60px')
                  span.ml-2.d-none.d-lg-inline.text-white.small #{user.first_name} #{user.last_name}
                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                  
                  
                  a.dropdown-item(href='javascript:void(0);', data-toggle='modal', data-target='#logoutModal')
                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Logout
          // Topbar
          // Container Fluid
          #container-wrapper.container-fluid(style='margin-bottom:350px;')
            .d-sm-flex.align-items-center.justify-content-between.mb-4
              h1.h3.mb-0.text-gray-800 Ideas
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Ideas
            != messages('message', locals)
            .row.mb-2
              // Earnings (Monthly) Card Example
              
              .col-xl-2.col-md-6.mb-4
                .card.h-70(style='border-top: 2px solid rgb(160, 157, 157);')
                  .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-uppercase.mb-1 TO DO 
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') #{todo.length}
                          a(href='javascript:void(0);', data-toggle='modal', data-target='#todo',style='float:right')
                           i.fas.fa-plus
                           &nbsp;
                           | Add task
                hr
                if todo.length < 1
                  .text-xs.text-center
                    span No tasks found.
                if todo.length > 0
                 each in_p in todo
                  
                  .card.h-70.mt-2
                   .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.text-uppercase.mb-1 Task > #{in_p.task.type}
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') 
                          if in_p.created_by  === user.id
                            a(href='/delete_task/2/#{in_p.task_id}',style='float:right')
                              i.fas.fa-trash(style='color:red')
                            
                            a(href='/edit_task/2/#{in_p.task_id}',style='float:right;margin-right:5px')
                                
                                i.fas.fa-edit(style='')
                        p #{in_p.task.title}
                        span.badge(style='color:white;background-color:black') #{in_p.priority}
                        br
                        a(href="/task_details/2/#{in_p.task_id}",style='font-size:0.8em') View Details
                
                        
                        
                          
                          
                      
              // In PROGRESS

              .col-xl-2.col-md-6.mb-4
                .card.h-70(style='border-top: 2px solid rgb(8, 173, 255);')
                  .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-uppercase.mb-1 IN PROGRESS
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') #{inprogress.length}
                          a(href='javascript:void(0);', data-toggle='modal', data-target='#inprogress',style='float:right')
                           i.fas.fa-plus
                           &nbsp;
                           | Add task
                hr
                if inprogress.length < 1
                  .text-xs.text-center
                    span No tasks found.
                if inprogress.length > 0
                 each in_p in inprogress
                  
                  .card.h-70.mt-2
                   .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.text-uppercase.mb-1 Task > #{in_p.task.type}
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') 
                          if in_p.created_by  === user.id
                            a(href='/delete_task/2/#{in_p.task_id}',style='float:right')
                              i.fas.fa-trash(style='color:red')
                            
                            a(href='/edit_task/2/#{in_p.task_id}',style='float:right;margin-right:5px')
                                
                                i.fas.fa-edit(style='')
                        p #{in_p.task.title}
                        span.badge(style='color:white;background-color:black') #{in_p.priority}
                        br
                        a(href="/task_details/2/#{in_p.task_id}",style='font-size:0.8em') View Details
                        
                        
              
                       
                        
              // REVIEW

              .col-xl-2.col-md-6.mb-4
                .card.h-70(style='border-top: 2px solid rgb(255, 207, 0);')
                  .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-uppercase.mb-1 REVIEW
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') #{review.length}
                          a(href='javascript:void(0);', data-toggle='modal', data-target='#review',style='float:right')
                           i.fas.fa-plus
                           &nbsp;
                           | Add task
                hr
                if review.length < 1
                  .text-xs.text-center
                    span No tasks found.
                if review.length > 0
                 each in_p in review
                  
                  .card.h-70.mt-2
                   .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.text-uppercase.mb-1 Task > #{in_p.task.type}
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') 
                          if in_p.created_by  === user.id
                            a(href='/delete_task/2/#{in_p.task_id}',style='float:right')
                              i.fas.fa-trash(style='color:red')
                            
                            a(href='/edit_task/2/#{in_p.task_id}',style='float:right;margin-right:5px')
                                
                                i.fas.fa-edit(style='')
                        p #{in_p.task.title}
                        span.badge(style='color:white;background-color:black') #{in_p.priority}
                        br
                        a(href="/task_details/2/#{in_p.task_id}",style='font-size:0.8em') View Details

              // REVISION

              .col-xl-2.col-md-6.mb-4
                .card.h-70(style='border-top: 2px solid rgb(255, 84, 13);')
                  .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-uppercase.mb-1 REVISION
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') #{revision.length}
                          a(href='javascript:void(0);', data-toggle='modal', data-target='#revision',style='float:right')
                           i.fas.fa-plus
                           &nbsp;
                           | Add task
                hr
                if revision.length < 1
                  .text-xs.text-center
                    span No tasks found.
                if revision.length > 0
                 each in_p in revision
                  
                  .card.h-70.mt-2
                   .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.text-uppercase.mb-1 Task > #{in_p.task.type}
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') 
                          if in_p.created_by  === user.id
                            a(href='/delete_task/2/#{in_p.task_id}',style='float:right')
                              i.fas.fa-trash(style='color:red')
                            
                            a(href='/edit_task/2/#{in_p.task_id}',style='float:right;margin-right:5px')
                                
                                i.fas.fa-edit(style='')
                        p #{in_p.task.title}
                        span.badge(style='color:white;background-color:black') #{in_p.priority}
                        br
                        a(href="/task_details/2/#{in_p.task_id}",style='font-size:0.8em') View Details

              // COMPLETE

              .col-xl-2.col-md-6.mb-4
                .card.h-70(style='border-top: 2px solid rgb(107, 201, 80);')
                  .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-uppercase.mb-1 COMPLETE
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') #{complete.length}
                hr
                if complete.length < 1
                  .text-xs.text-center
                    span No tasks found.
                if complete.length > 0
                 each in_p in complete
                  
                  .card.h-70.mt-2
                   .card-body
                    .row.align-items-center
                      .col.mr-2
                        .text-xs.text-uppercase.mb-1 Task > #{in_p.task.type}
                          &nbsp;
                          span.badge(style='font-size:1.1em;background-color:whitesmoke;color:black') 
                          if in_p.created_by  === user.id
                            a(href='/delete_task/2/#{in_p.task_id}',style='float:right')
                              i.fas.fa-trash(style='color:red')
                            
                            a(href='/edit_task/2/#{in_p.task_id}',style='float:right;margin-right:5px')
                                
                                i.fas.fa-edit(style='')
                        p #{in_p.task.title}
                        span.badge(style='color:white;background-color:black') #{in_p.priority}
                        br
                        a(href="/task_details/2/#{in_p.task_id}",style='font-size:0.8em') View Details
                         
            
                        
                        
                      
              
        
              
             
            
            // Modal Logout
            #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabelLogout', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabelLogout.modal-title Ohh No!
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p Are you sure you want to logout?
                  .modal-footer
                    button.btn.btn-outline-primary(type='button', data-dismiss='modal') Cancel
                    a.btn.btn-primary(href='/log_out') Logout
            #todo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabelLogout', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabelLogout.modal-title Add New Task | TO DO
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(action="/add_new_task/2", method="post")
                      .form-group
                        input(type='hidden',name='type',value='TO DO')
                      .form-group
                        input#exampleInputTitle.form-control(type='text',name='title', required,placeholder='Enter Task Title')
                      .form-group
                        label(for='description') Description:
                        textarea.form-control(name="description", cols="5", rows="4",required)
                      .form-group
                        label(for='start date') Start Date:
                        input.form-control(type='date',required,name='start_date')
                      .form-group
                        label(for='start time') Start Time:
                        input.form-control(type='time',required,name='start_time')
                      .form-group
                        label(for='due date') Due Date:
                        input.form-control(type='date',name='due_date',required)
                      .form-group
                        label(for='due time') Due Time:
                        input.form-control(type='time',name='due_time',required)
                      .form-group
                        label(for='priority') Priority:
                        select.form-control(name='priority',required)
                         option(value='') Choose a priority
                         option(value='High') High
                         option(value='Normal') Normal
                         option(value='Low') Low
                      .form-group
                        label(for='assign_to') Assign To:
                        br
                        div(style='height:80px;overflow-y:scroll')
                         each us in users
                             
                            
                            if us.id !== user.id
                             input(type="checkbox", name="assigned_to",value=us.id)
                             &nbsp;
                             label #{us.first_name} #{us.last_name}
                             br
                            if us.id === user.id
                             input(type="checkbox", name="assigned_to",value=us.id,checked)
                             &nbsp;
                             label Me
                             br
                      
                      .form-group
                        button.btn.btn-primary.btn-block Save
                  .modal-footer
                    button.btn.btn-outline-primary(type='button', data-dismiss='modal') Cancel
            #inprogress.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabelLogout', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabelLogout.modal-title Add New Task | IN PROGRESS
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(action="/add_new_task/2", method="post")
                      .form-group
                        input(type='hidden',name='type',value='IN PROGRESS')
                      .form-group
                        input#exampleInputTitle.form-control(type='text',name='title', required,placeholder='Enter Task Title')
                      .form-group
                        label(for='description') Description:
                        textarea.form-control(name="description", cols="5", rows="4",required)
                      .form-group
                        label(for='start date') Start Date:
                        input.form-control(type='date',required,name='start_date')
                      .form-group
                        label(for='start time') Start Time:
                        input.form-control(type='time',required,name='start_time')
                      .form-group
                        label(for='due date') Due Date:
                        input.form-control(type='date',name='due_date',required)
                      .form-group
                        label(for='due time') Due Time:
                        input.form-control(type='time',name='due_time',required)
                      .form-group
                        label(for='priority') Priority:
                        select.form-control(name='priority',required)
                         option(value='') Choose a priority
                         option(value='High') High
                         option(value='Normal') Normal
                         option(value='Low') Low
                      .form-group
                        label(for='assign_to') Assign To:
                        br
                        div(style='height:80px;overflow-y:scroll')
                         each us in users
                             
                            
                            if us.id !== user.id
                             input(type="checkbox", name="assigned_to",value=us.id)
                             &nbsp;
                             label #{us.first_name} #{us.last_name}
                             br
                            if us.id === user.id
                             input(type="checkbox", name="assigned_to",value=us.id,checked)
                             &nbsp;
                             label Me
                             br
                      
                      .form-group
                        button.btn.btn-primary.btn-block Save
                  .modal-footer
                    button.btn.btn-outline-primary(type='button', data-dismiss='modal') Cancel
            #review.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabelLogout', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabelLogout.modal-title Add New Task | REVIEW
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(action="/add_new_task/2", method="post")
                      .form-group
                        input(type='hidden',name='type',value='REVIEW')
                      .form-group
                        input#exampleInputTitle.form-control(type='text',name='title', required,placeholder='Enter Task Title')
                      .form-group
                        label(for='description') Description:
                        textarea.form-control(name="description", cols="5", rows="4",required)
                      .form-group
                        label(for='start date') Start Date:
                        input.form-control(type='date',required,name='start_date')
                      .form-group
                        label(for='start time') Start Time:
                        input.form-control(type='time',required,name='start_time')
                      .form-group
                        label(for='due date') Due Date:
                        input.form-control(type='date',name='due_date',required)
                      .form-group
                        label(for='due time') Due Time:
                        input.form-control(type='time',name='due_time',required)
                      .form-group
                        label(for='priority') Priority:
                        select.form-control(name='priority',required)
                         option(value='') Choose a priority
                         option(value='High') High
                         option(value='Normal') Normal
                         option(value='Low') Low
                      .form-group
                        label(for='assign_to') Assign To:
                        br
                        div(style='height:80px;overflow-y:scroll')
                         each us in users
                             
                            
                            if us.id !== user.id
                             input(type="checkbox", name="assigned_to",value=us.id)
                             &nbsp;
                             label #{us.first_name} #{us.last_name}
                             br
                            if us.id === user.id
                             input(type="checkbox", name="assigned_to",value=us.id,checked)
                             &nbsp;
                             label Me
                             br
                      
                      .form-group
                        button.btn.btn-primary.btn-block Save
                  .modal-footer
                    button.btn.btn-outline-primary(type='button', data-dismiss='modal') Cancel
            #revision.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabelLogout', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabelLogout.modal-title Add New Task | REVISION
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(action="/add_new_task/2", method="post")
                      .form-group
                        input(type='hidden',name='type',value='REVISION')
                      .form-group
                        input#exampleInputTitle.form-control(type='text',name='title', required,placeholder='Enter Task Title')
                      .form-group
                        label(for='description') Description:
                        textarea.form-control(name="description", cols="5", rows="4",required)
                      .form-group
                        label(for='start date') Start Date:
                        input.form-control(type='date',required,name='start_date')
                      .form-group
                        label(for='start time') Start Time:
                        input.form-control(type='time',required,name='start_time')
                      .form-group
                        label(for='due date') Due Date:
                        input.form-control(type='date',name='due_date',required)
                      .form-group
                        label(for='due time') Due Time:
                        input.form-control(type='time',name='due_time',required)
                      .form-group
                        label(for='priority') Priority:
                        select.form-control(name='priority',required)
                         option(value='') Choose a priority
                         option(value='High') High
                         option(value='Normal') Normal
                         option(value='Low') Low
                      .form-group
                        label(for='assign_to') Assign To:
                        br
                        div(style='height:80px;overflow-y:scroll')
                         each us in users
                             
                            
                            if us.id !== user.id
                             input(type="checkbox", name="assigned_to",value=us.id)
                             &nbsp;
                             label #{us.first_name} #{us.last_name}
                             br
                            if us.id === user.id
                             input(type="checkbox", name="assigned_to",value=us.id,checked)
                             &nbsp;
                             label Me
                             br
                      
                      .form-group
                        button.btn.btn-primary.btn-block Save
                  .modal-footer
                    button.btn.btn-outline-primary(type='button', data-dismiss='modal') Cancel
            
          // Footer
          footer.sticky-footer.bg-white
            .container.my-auto
              .copyright.text-center.my-auto
                span
                  | copyright © 
                  script.
                    document.write(new Date().getFullYear());
                  |  - developed by 
                  b
                    a(href='https://evansmburu.site', target='_blank') Evans Mburu Njogu
          // Footer
          // Scroll to top
          a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up
          script(src='vendor/jquery/jquery.min.js')
          script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
          script(src='vendor/jquery-easing/jquery.easing.min.js')
          script(src='js/ruang-admin.min.js')
          script(src='vendor/chart.js/Chart.min.js')
          script(src='js/demo/chart-area-demo.js')
